.listElement {
    margin: 5%;
}
.listElement a {
    text-decoration: none;
    color: #ffffffcc;
    padding: 20px 10px 5px 10px;
    border-bottom: 1px solid #ffffffdd;
    transition: all 0.25s;
    max-width: 300px;
    cursor: pointer;
    display: block;
}
.listElement a:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff08;
    text-shadow: 0px 0px 2px #ffffffaa;
}
h1 {
    font-size: 26px;
    font-weight: normal;
    margin: 10px 0px;
}