.header {
    padding: 6px 50px;
    background-color: #000;
}
.header a {
    height: 40px;
    background-color: #f00;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 20px;
    margin: 3px;
    line-height: 40px;
}